<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings> 

    <!--Settings for random contact creation-->
    <add key="rd_firstnames" value=""/>
    <add key="rd_lastnames" value=""/>
    <add key="rd_cities" value=""/>
    

    <!--For CDS-->
    <add key="username" value=""/>  
    <add key="password" value=""/>  
    <add key="url" value=""/>
    
    <!--For sharepoint-->
    <add key="mgh" value=""/>
    <add key="sp_siteid" value="2e069086-c6f2-4735-a728-eb33b8347842"/>
    <add key="sp_listid" value="1c39d991-6ed6-4c34-87b2-f91bbb8212f5"/>

  </appSettings>  
</configuration>