{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "",
    "version": "1.0"
  },
  "host": "www.ncei.noaa.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/access/services/data/v1": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DATE": {
                    "type": "string",
                    "description": "Date of the value reading",
                    "title": "Date",
                    "format": "date"
                  },
                  "STATION": {
                    "type": "string",
                    "description": "Name of the station the reading is from",
                    "title": "Station"
                  },
                  "SNOW": {
                    "type": "string",
                    "description": "Snow fall",
                    "title": "Snow",
                    "format": "String"
                  },
                  "PRCP": {
                    "type": "string",
                    "description": "Precipitation (rain fall)",
                    "title": "Precipitation",
                    "format": "String"
                  }
                }
              }
            }
          }
        },
        "summary": "Precipitation Data",
        "description": "Access precipitation data",
        "operationId": "PrecipitationData",
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of the NCEI dataset you want to query",
            "x-ms-summary": "Dataset"
          },
          {
            "name": "stations",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Stations",
            "description": "Comma-separated list of station names"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start Date",
            "description": "The start date of the data you are requesting"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "End Date",
            "description": "The end date of the data you are requesting",
            "format": "date"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}